<?php
	$config = array(
		'AdminName' => 'AdminName',		//Nom d'usager pour être considéré comme animateur du jeu   / The username you have to used to be the teacher
		'Delai' => 60							//Délai entre les questions; 0 = automatisation désactivée	/ Delay between questions; 0 = as long as players want
	); 
?>